{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    {% for post in posts %}
                        <h4><a href="{{ path('slug', {slug : post.slug}) }}">{{ post.title }}</a></h4>
                        <div><ul class="list-inline">{% for category in post.categories %}<li class="list-inline-item"><a href="{{ path('slug', {slug : category.slug}) }}">{{ category.name }}</a></li>{% endfor %}</ul></div>
                        <p>{{ post.content }}</p>

                        <hr>
                        {% if comment is defined %}
                            {% if app.user %}
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <input type="submit" value="Add Comment" class="btn btn-primary">
                                {{ form_end(form) }}
                                <br>
                            {% endif %}

                            {% if post.comments %}
                                {% for comment in post.comments | reverse %}
                                    <blockquote class="blockquote blockquote-comment">
                                        <div class="d-flex w-100 justify-content-between">
                                            <p class="mb-1">{{ comment.content }}</p>
                                            <small>{{ comment.pubDate | date('Y/m/d H:m') }}</small>
                                        </div>
                                        <footer class="blockquote-footer">
                                                <cite title="Source Title">{{ comment.author.username }}</cite>
                                                {% if app.user == comment.author %}
                                                    <a href="{{ path('comment_edit', {'id' : comment.id }) }}" class="btn btn-link btn-sm float-right">Edit / Delete</a>
                                                {% endif %}
                                        </footer>
                                    </blockquote>
                                    <!--
                                    <div class="list-group">
                                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <p class="mb-1">{{ comment.content }}</p>
                                                <small>{{ comment.author.username }}</small>
                                            </div>
                                            <div class="d-flex w-100 justify-content-between">
                                                <small>{{ comment.pubDate | date('Y/m/d H:m') }}</small>
                                                {% if app.user == comment.author %}
                                                    <a href="{{ path('comment_edit', {'id' : comment.id }) }}" class="btn btn-link btn-sm">Edit / Delete</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    -->
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
