{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    {% if post is empty %}
                        Aucun articles
                    {% endif %}
                    <h4><a href="{{ path('slug', {slug : post.slug}) }}">{{ post.title }}</a></h4>
                    <div>
                        <ul class="list-inline">
                            {% for category in post.categories %}
                                <li class="list-inline-item"><a
                                            href="{{ path('slug', {slug : category.slug}) }}">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                            <li class="list-inline-item float-right">
                                {{ post.pubDate | date('Y/m/d H:m') }}
                            </li>
                        </ul>
                    </div>
                    <p>{{ post.content }}</p>
                    <footer class="blockquote-footer">
                        <cite title="Author">{{ post.author.username }}</cite>
                    </footer>

                    <hr>
                    {% if comment is defined %}
                        {% if app.user %}
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <input type="submit" value="Add Comment" class="btn btn-primary">
                            {{ form_end(form) }}
                            <br>
                        {% endif %}

                        {% if post.comments %}
                            {% for comment in post.comments | reverse %}
                                <blockquote class="blockquote blockquote-comment">
                                    <div class="d-flex w-100 justify-content-between">
                                        <p class="mb-1">{{ comment.content }}</p>
                                        <small>{{ comment.pubDate | date('Y/m/d H:m') }}</small>
                                    </div>
                                    <footer class="blockquote-footer">
                                        <cite title="Author">{{ comment.author.username }}</cite>
                                    </footer>
                                </blockquote>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
