<!doctype html>
<html lang="{{ 'app.locale' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Booking</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('bundles/blog/app.css') }}">
</head>
<body>
<nav class="navbar navbar-toggleable-md mb-4">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ path('home') }}">Blog</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav mr-auto">
            {% for category in blog_menu.getCategories() %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('slug', {slug: category.slug}) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="nav navbar-nav justify-content-end pull-xs-right">
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('sonata_admin_redirect') }}">Admin Dashboard</a>
            </li>
            {% endif %}
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('sonata_user_admin_security_logout') }}">Se déconnecter</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('sonata_user_admin_security_login') }}">Se connecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block content %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>